.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    text-align: center;
    height: 8vh;
    background-color: orange;
    padding: 0;
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.2em;
}

.word {
    display: flex;
    border: solid black;
    height: 20vh;
    /* border-radius: 25px; */
    /* padding: 20px 0 20px 0; */
    margin: 15px 0 10px 0;
    /* text-align: center; */
    
}

.left_word {
    display: flex;
    width: 30%;
    margin:0;
    height: 100%;
    /* border-left: solid black; */
    border-right: solid black;
    font-weight: bold;
    font-size: 2em;
    vertical-align: center;
    /* text-align: center; */
    justify-content: center;
    
}

.right_word {
    display: flex;
    
    flex-direction: column;
    justify-content: space-evenly;
    float: right;
    width: 70%;
    height: 100%;
    /* border-right: solid black; */
    text-align: center;
    margin: 0;
}

.small_section {
    /* height: 10vh; */
    margin: 0;
}

.summary {
    font-size: 1.5em;
    border: solid black;
    margin-top: 25px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    margin-right: 70%;
    margin-top: 8px;
    font-size: 2.2em;
    text-align: center;
}