.Collapsible {
    background-color: white;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
}

.delete-button, .add-button {
    margin-top: 20px;
}

.add-button {
    margin: 10px;
}

.Collapsible__contentInner {
    background-color: rgb(255, 196, 2);
    padding: 10px;
}

.addWord {
    margin: 30px;
    padding: 10px;
    background-color: rgb(255, 208, 0);
    color: rgb(168, 168, 168);
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.addPoint {
    margin: 30px;
    padding: 10px;
    background-color: rgb(255, 208, 0);
    color: rgb(168, 168, 168);
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.export {
    height: 40px;
    margin-bottom: 50px;
    margin-left: 350px;
}